.over-x {
  overflow-x: auto;
}

.table-tax {
  min-width: 570px;
  border-collapse: collapse;
}

.table-tax thead {
  text-align: center;
  background: #ffceac;
}

.table-tax td {
  border: 1px solid rgba(204, 204, 204, 0.2);
  padding-left: 4px;
  font-size: 15px;
}

.table-tax tr {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.table-tax tr:hover {
  background: #ffecdf;
}
